{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}

<head>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>

<!-- Centered Button -->
<div class="center-button">
    <a href="{% url 'upload_car' %}" class="btn btn-primary">Add New Car</a>
</div>

<!-- Car Cards -->
<div class="card-container">
    {% for car in car %}
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{ car.image.url }}" alt="Car">
        <div class="card-body">
            <h5 class="card-title">{{ car.name }}</h5>
            <p class="card-text">{{ car.status }}</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">{{ car.model_year }}</li>
            <li class="list-group-item">{{ car.car_type }}</li>
        </ul>
        <div class="card-body">
            <a href="{% url 'details' car.c_id %}" class="card-link">Details</a>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}